body {
    font-family: "Computer Modern", serif;
    font-size: 18px;
}

.paper {
    max-width: 80vw;
    margin: 5vh auto;
}

.timeline {
    list-style-type: none;
    padding-left: 0;
}

.timeline-year {
    font-weight: bold;
}
