body {
    background-color: #dce0e8;
    font-family: 'TeX Gyre Pagella', Georgia, serif;
    font-size: 20px;
}

.paper {
    background-color: white;
    max-width: 900px;
    margin: 0vh auto;
    padding: 5vh 4vw;
    box-shadow: 0 4px 12px rgba(0, 0, 0, 0.1);
    border-radius: 0px;
}

.timeline {
    list-style-type: none;
    padding-left: 0;
}

.timeline-year {
    font-weight: bold;
}
